.font-icon-detail {
  padding-top: 15px;
  height: 80px; }

.font-icon-class {
  font-size: 12px;
  line-height: 14px;
  display: block; }

.c1, .c2 {
  padding: 10px 0;
  margin-bottom: 20px;
  background: #4378A7;
  color: #fff;
  text-align: center; }

.c2 {
  background: #0191A1; }
