/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 *
 * SkyBlue Sass by RocketLaunch
 *
 * Built and maintained with a lots of love by Stanko
 *
 */
/* line 1, ../sass/reset.scss */
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (max-device-width: 480px) {
  /* line 9, ../sass/reset.scss */
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}
/* line 1, ../sass/main.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4em;
  background: #eeeeee;
  color: #555555;
}

/* line 4, ../sass/grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 10, ../sass/mixins.scss */
.container:before, .container:after {
  content: " ";
  display: table;
  line-height: 0;
}
/* line 11, ../sass/mixins.scss */
.container:after {
  clear: both;
}

/* line 12, ../sass/grid.scss */
.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 10, ../sass/mixins.scss */
.row:before, .row:after {
  content: " ";
  display: table;
  line-height: 0;
}
/* line 11, ../sass/mixins.scss */
.row:after {
  clear: both;
}
/* line 17, ../sass/grid.scss */
.row .row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 23, ../sass/grid.scss */
[class^="span"] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  /* line 34, ../sass/grid.scss */
  .container {
    max-width: 680px;
  }

  /* line 40, ../sass/grid.scss */
  [class^="span"] {
    float: left;
  }

  /* line 44, ../sass/grid.scss */
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  /* line 51, ../sass/grid.scss */
  .span1, .width1 {
    width: 8.33333%;
  }

  /* line 52, ../sass/grid.scss */
  .offset1 {
    margin-left: 8.33333%;
  }

  /* line 51, ../sass/grid.scss */
  .span2, .width2 {
    width: 16.66667%;
  }

  /* line 52, ../sass/grid.scss */
  .offset2 {
    margin-left: 16.66667%;
  }

  /* line 51, ../sass/grid.scss */
  .span3, .width3 {
    width: 25%;
  }

  /* line 52, ../sass/grid.scss */
  .offset3 {
    margin-left: 25%;
  }

  /* line 51, ../sass/grid.scss */
  .span4, .width4 {
    width: 33.33333%;
  }

  /* line 52, ../sass/grid.scss */
  .offset4 {
    margin-left: 33.33333%;
  }

  /* line 51, ../sass/grid.scss */
  .span5, .width5 {
    width: 41.66667%;
  }

  /* line 52, ../sass/grid.scss */
  .offset5 {
    margin-left: 41.66667%;
  }

  /* line 51, ../sass/grid.scss */
  .span6, .width6 {
    width: 50%;
  }

  /* line 52, ../sass/grid.scss */
  .offset6 {
    margin-left: 50%;
  }

  /* line 51, ../sass/grid.scss */
  .span7, .width7 {
    width: 58.33333%;
  }

  /* line 52, ../sass/grid.scss */
  .offset7 {
    margin-left: 58.33333%;
  }

  /* line 51, ../sass/grid.scss */
  .span8, .width8 {
    width: 66.66667%;
  }

  /* line 52, ../sass/grid.scss */
  .offset8 {
    margin-left: 66.66667%;
  }

  /* line 51, ../sass/grid.scss */
  .span9, .width9 {
    width: 75%;
  }

  /* line 52, ../sass/grid.scss */
  .offset9 {
    margin-left: 75%;
  }

  /* line 51, ../sass/grid.scss */
  .span10, .width10 {
    width: 83.33333%;
  }

  /* line 52, ../sass/grid.scss */
  .offset10 {
    margin-left: 83.33333%;
  }

  /* line 51, ../sass/grid.scss */
  .span11, .width11 {
    width: 91.66667%;
  }

  /* line 52, ../sass/grid.scss */
  .offset11 {
    margin-left: 91.66667%;
  }

  /* line 51, ../sass/grid.scss */
  .span12, .width12 {
    width: 100%;
  }

  /* line 52, ../sass/grid.scss */
  .offset12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 992px) {
  /* line 58, ../sass/grid.scss */
  .container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 65, ../sass/grid.scss */
  .container {
    max-width: 1120px;
  }
}
/* line 71, ../sass/grid.scss */
[class*="span"].floatRight {
  float: right;
}

/* line 2, ../sass/typography.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* line 8, ../sass/typography.scss */
h1 {
  font-size: 2.5em;
}

/* line 12, ../sass/typography.scss */
h2 {
  font-size: 2.2em;
}

/* line 16, ../sass/typography.scss */
h3 {
  font-size: 1.8em;
}

/* line 20, ../sass/typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 24, ../sass/typography.scss */
h5 {
  font-size: 1.3em;
}

/* line 28, ../sass/typography.scss */
h6 {
  font-size: 1.1em;
}

/* line 35, ../sass/typography.scss */
p {
  margin-bottom: 1em;
  line-height: 1.4em;
}

/* line 1, ../sass/buttons.scss */
.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 25px;
  min-width: 120px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: #4499dd;
  border: 2px solid #4499dd;
}
/* line 13, ../sass/buttons.scss */
.button:hover {
  background-color: #1166aa;
  border-color: #1166aa;
}
/* line 18, ../sass/buttons.scss */
.button.empty {
  border-radius: 20px;
  color: #4499dd;
  background: #fff;
}
/* line 23, ../sass/buttons.scss */
.button.empty:hover {
  color: #1166aa;
}

/* line 1, ../sass/forms.scss */
input, select, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.625em;
  width: 300px;
  padding: 0.5em;
  margin-bottom: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  border: 2px solid #ddd;
  border-radius: 3px;
}

/* line 14, ../sass/forms.scss */
select {
  -webkit-appearance: none;
}

/* line 18, ../sass/forms.scss */
textarea {
  height: auto;
  min-height: 100px;
  line-height: 1.4em;
}

/* line 24, ../sass/forms.scss */
input:focus, textarea:focus, select:focus {
  border: 2px solid #49d;
  outline: none;
}

/* line 30, ../sass/forms.scss */
label {
  display: block;
  min-width: 200px;
  margin-bottom: 0.5em;
}

/* line 2, ../sass/helpers.scss */
.padding10 {
  padding: 10px;
}

/* line 3, ../sass/helpers.scss */
.padding20 {
  padding: 20px;
}

/* line 4, ../sass/helpers.scss */
.padding30 {
  padding: 50px;
}

/* line 5, ../sass/helpers.scss */
.padding40 {
  padding: 40px;
}

/* line 6, ../sass/helpers.scss */
.padding50 {
  padding: 50px;
}

/* line 10, ../sass/helpers.scss */
.margin10 {
  margin: 10px;
}

/* line 11, ../sass/helpers.scss */
.margin20 {
  margin: 20px;
}

/* line 12, ../sass/helpers.scss */
.margin30 {
  margin: 50px;
}

/* line 13, ../sass/helpers.scss */
.margin40 {
  margin: 40px;
}

/* line 14, ../sass/helpers.scss */
.margin50 {
  margin: 50px;
}

/* line 18, ../sass/helpers.scss */
.floatLeft {
  float: left;
}

/* line 19, ../sass/helpers.scss */
.floatRight {
  float: right;
}

/* line 23, ../sass/helpers.scss */
.textCenter {
  text-align: center;
}

/* line 24, ../sass/helpers.scss */
.textLeft {
  text-align: left;
}

/* line 25, ../sass/helpers.scss */
.textRight {
  text-align: right;
}

/* line 2, ../sass/dummy.scss */
.dummy .row {
  background: #fff;
}
/* line 6, ../sass/dummy.scss */
.dummy [class^="span"] {
  min-height: 40px;
  border: 1px solid #ddd;
}

/* line 19, ../sass/dummy.scss */
.test [class^="span"] {
  min-height: 40px;
  padding: 15px;
}

/* line 25, ../sass/dummy.scss */
.container {
  background: white;
}
