/*
 *
 * SkyBlue Sass by RocketLaunch
 *
 * Built and maintained with a lots of love by Stanko
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.25px; }

@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; } }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-stroke: 0.25px; }

@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; } }
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
  background: #f5f7f8;
  color: #5f6c6d;
  -webkit-font-smoothing: antialiased; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px; }
  .container:before, .container:after {
    content: " ";
    display: table;
    line-height: 0; }
  .container:after {
    clear: both; }

.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .row:before, .row:after {
    content: " ";
    display: table;
    line-height: 0; }
  .row:after {
    clear: both; }
  .row .row {
    margin-left: -15px;
    margin-right: -15px; }
    .row .row .span1, .row .row .span2, .row .row .span3, .row .row .span4, .row .row .span5, .row .row .span6, .row .row .span7, .row .row .span8, .row .row .span9, .row .row .span10, .row .row .span11, .row .row .span12 {
      padding-left: 15px;
      padding-right: 15px; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .spanMobile1, .spanMobile2, .spanMobile3, .spanMobile4, .spanMobile5, .spanMobile6, .spanMobile7, .spanMobile8, .spanMobile9, .spanMobile10, .spanMobile11, .spanMobile12 {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .span1 .floatRight, .span2 .floatRight, .span3 .floatRight, .span4 .floatRight, .span5 .floatRight, .span6 .floatRight, .span7 .floatRight, .span8 .floatRight, .span9 .floatRight, .span10 .floatRight, .span11 .floatRight, .span12 .floatRight, .spanMobile1 .floatRight, .spanMobile2 .floatRight, .spanMobile3 .floatRight, .spanMobile4 .floatRight, .spanMobile5 .floatRight, .spanMobile6 .floatRight, .spanMobile7 .floatRight, .spanMobile8 .floatRight, .spanMobile9 .floatRight, .spanMobile10 .floatRight, .spanMobile11 .floatRight, .spanMobile12 .floatRight {
    float: right; }

.spanMobile1, .spanMobile2, .spanMobile3, .spanMobile4, .spanMobile5, .spanMobile6, .spanMobile7, .spanMobile8, .spanMobile9, .spanMobile10, .spanMobile11, .spanMobile12 {
  float: left; }

.spanMobile1 {
  width: 8.33333%; }

.offsetMobile1 {
  margin-left: 8.33333%; }

.spanMobile2 {
  width: 16.66667%; }

.offsetMobile2 {
  margin-left: 16.66667%; }

.spanMobile3 {
  width: 25%; }

.offsetMobile3 {
  margin-left: 25%; }

.spanMobile4 {
  width: 33.33333%; }

.offsetMobile4 {
  margin-left: 33.33333%; }

.spanMobile5 {
  width: 41.66667%; }

.offsetMobile5 {
  margin-left: 41.66667%; }

.spanMobile6 {
  width: 50%; }

.offsetMobile6 {
  margin-left: 50%; }

.spanMobile7 {
  width: 58.33333%; }

.offsetMobile7 {
  margin-left: 58.33333%; }

.spanMobile8 {
  width: 66.66667%; }

.offsetMobile8 {
  margin-left: 66.66667%; }

.spanMobile9 {
  width: 75%; }

.offsetMobile9 {
  margin-left: 75%; }

.spanMobile10 {
  width: 83.33333%; }

.offsetMobile10 {
  margin-left: 83.33333%; }

.spanMobile11 {
  width: 91.66667%; }

.offsetMobile11 {
  margin-left: 91.66667%; }

.spanMobile12 {
  width: 100%; }

.offsetMobile12 {
  margin-left: 100%; }

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px; }

  .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    padding-left: 15px;
    padding-right: 15px;
    float: left; }

  .span1, .width1 {
    width: 8.33333%; }

  .offset1 {
    margin-left: 8.33333%; }

  .span2, .width2 {
    width: 16.66667%; }

  .offset2 {
    margin-left: 16.66667%; }

  .span3, .width3 {
    width: 25%; }

  .offset3 {
    margin-left: 25%; }

  .span4, .width4 {
    width: 33.33333%; }

  .offset4 {
    margin-left: 33.33333%; }

  .span5, .width5 {
    width: 41.66667%; }

  .offset5 {
    margin-left: 41.66667%; }

  .span6, .width6 {
    width: 50%; }

  .offset6 {
    margin-left: 50%; }

  .span7, .width7 {
    width: 58.33333%; }

  .offset7 {
    margin-left: 58.33333%; }

  .span8, .width8 {
    width: 66.66667%; }

  .offset8 {
    margin-left: 66.66667%; }

  .span9, .width9 {
    width: 75%; }

  .offset9 {
    margin-left: 75%; }

  .span10, .width10 {
    width: 83.33333%; }

  .offset10 {
    margin-left: 83.33333%; }

  .span11, .width11 {
    width: 91.66667%; }

  .offset11 {
    margin-left: 91.66667%; }

  .span12, .width12 {
    width: 100%; }

  .offset12 {
    margin-left: 100%; } }
@media screen and (min-width: 992px) {
  .container {
    max-width: 920px; } }
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1120px; } }
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.1em; }

p {
  margin-bottom: 1em;
  line-height: 1.4em; }

small {
  font-size: 0.8em; }

.big {
  font-size: 1.2em; }

b, strong {
  font-weight: 500; }

i, em {
  font-style: italic; }

a {
  color: #4499dd; }

a:active, a:focus, a:hover {
  color: #2277bb; }

ul, ol {
  margin-bottom: 1em;
  padding-left: 22px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

ul li {
  list-style: disc outside none; }
  ul li li {
    list-style: circle outside none; }

ol li {
  list-style: decimal outside none; }

blockquote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 2px solid #dae0e4;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  font-size: 1.1em;
  color: #5f6c6d; }
  blockquote cite {
    font-size: 0.8em; }
    blockquote cite:before {
      content: "— "; }

pre, code {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "DejaVu Sans Mono", Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 1.4em;
  color: #dae0e4;
  background: #353839;
  border-radius: 3px;
  padding: 0.8em 1em;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }

pre {
  margin-bottom: 16px; }

code {
  display: inline-block;
  padding: 0.1em 0.3em; }

button, input[type="submit"], input[type="button"] {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em; }

.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #4499dd;
  color: #fff;
  display: inline-block;
  min-width: 120px;
  padding: 8px 25px;
  margin-bottom: 1em;
  border: 2px solid #4499dd;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  text-decoration: none; }
  .button:hover {
    background-color: #2277bb;
    border-color: #2277bb;
    color: #fff; }
  .button:focus {
    color: #fff; }
  .button:active {
    background-color: #005599;
    border-color: #005599;
    top: 1px;
    position: relative; }
  .button.buttonSmall {
    padding: 4px 15px;
    min-width: 30px;
    border-width: 1px;
    font-size: 0.8em;
    line-height: 1.2em; }
  .button.buttonBig {
    padding: 14px 45px;
    min-width: 140px;
    font-size: 1.4em; }
  .button.buttonSuccess {
    background: #1abc9c;
    border-color: #1abc9c; }
    .button.buttonSuccess:hover {
      background: #009a7a;
      border-color: #009a7a; }
    .button.buttonSuccess:active {
      background: #007858;
      border-color: #007858; }
  .button.buttonError {
    background: #e74c3c;
    border-color: #e74c3c; }
    .button.buttonError:hover {
      background: #c52a1a;
      border-color: #c52a1a; }
    .button.buttonError:active {
      background: #a30800;
      border-color: #a30800; }
  .button.buttonWarning {
    background: #f1c000;
    border-color: #f1c000; }
    .button.buttonWarning:hover {
      background: #cf9e00;
      border-color: #cf9e00; }
    .button.buttonWarning:active {
      background: #ad7c00;
      border-color: #ad7c00; }
  .button.buttonLight {
    background: #ecf0f1;
    border-color: #ecf0f1;
    color: #95a5a6; }
    .button.buttonLight:hover {
      background: #cacecf;
      border-color: #cacecf;
      color: #fff; }
    .button.buttonLight:active {
      background: #a8acad;
      border-color: #a8acad;
      color: #fff; }
  .button.buttonDark {
    background: #2c3e50;
    border-color: #2c3e50; }
    .button.buttonDark:hover {
      background: #0a1c2e;
      border-color: #0a1c2e; }
    .button.buttonDark:active {
      background: #00000c;
      border-color: #00000c; }
  .button.buttonEmpty {
    border-radius: 20px;
    color: #4499dd;
    background: #fff; }
    .button.buttonEmpty:hover {
      background: #fff;
      color: #2277bb; }
    .button.buttonEmpty:active {
      background: #fff;
      color: #005599; }
    .button.buttonEmpty.buttonSuccess {
      border-color: #1abc9c;
      color: #1abc9c; }
      .button.buttonEmpty.buttonSuccess:hover {
        border-color: #009a7a;
        color: #009a7a; }
      .button.buttonEmpty.buttonSuccess:active {
        border-color: #007858;
        color: #007858; }
    .button.buttonEmpty.buttonError {
      border-color: #e74c3c;
      color: #e74c3c; }
      .button.buttonEmpty.buttonError:hover {
        border-color: #c52a1a;
        color: #c52a1a; }
      .button.buttonEmpty.buttonError:active {
        border-color: #a30800;
        color: #a30800; }
    .button.buttonEmpty.buttonWarning {
      border-color: #f1c000;
      color: #f1c000; }
      .button.buttonEmpty.buttonWarning:hover {
        border-color: #cf9e00;
        color: #cf9e00; }
      .button.buttonEmpty.buttonWarning:active {
        border-color: #ad7c00;
        color: #ad7c00; }
    .button.buttonEmpty.buttonLight {
      border-color: #dae0e4;
      color: #95a5a6; }
      .button.buttonEmpty.buttonLight:hover {
        border-color: #cacecf;
        color: #738384; }
      .button.buttonEmpty.buttonLight:active {
        border-color: #a8acad;
        color: #516162; }
    .button.buttonEmpty.buttonDark {
      border-color: #2c3e50;
      color: #2c3e50; }
      .button.buttonEmpty.buttonDark:hover {
        border-color: #0a1c2e;
        color: #0a1c2e; }
      .button.buttonEmpty.buttonDark:active {
        border-color: #00000c;
        color: #00000c; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.625em;
  width: 300px;
  max-width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5f6c6d;
  font-size: 1em;
  border: 2px solid #dae0e4;
  border-radius: 3px;
  transition: border-color, color 0.3s; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  select:focus,
  textarea:focus {
    border: 2px solid #4499dd;
    color: #1f2c2d;
    outline: none; }
  input[type="text"].error, .error input[type="text"],
  input[type="password"].error, .error
  input[type="password"],
  input[type="date"].error, .error
  input[type="date"],
  input[type="datetime"].error, .error
  input[type="datetime"],
  input[type="email"].error, .error
  input[type="email"],
  input[type="number"].error, .error
  input[type="number"],
  input[type="search"].error, .error
  input[type="search"],
  input[type="tel"].error, .error
  input[type="tel"],
  input[type="time"].error, .error
  input[type="time"],
  input[type="url"].error, .error
  input[type="url"],
  select.error, .error
  select,
  textarea.error, .error
  textarea {
    border-color: #e74c3c; }
  input[type="text"].warning, .warning input[type="text"],
  input[type="password"].warning, .warning
  input[type="password"],
  input[type="date"].warning, .warning
  input[type="date"],
  input[type="datetime"].warning, .warning
  input[type="datetime"],
  input[type="email"].warning, .warning
  input[type="email"],
  input[type="number"].warning, .warning
  input[type="number"],
  input[type="search"].warning, .warning
  input[type="search"],
  input[type="tel"].warning, .warning
  input[type="tel"],
  input[type="time"].warning, .warning
  input[type="time"],
  input[type="url"].warning, .warning
  input[type="url"],
  select.warning, .warning
  select,
  textarea.warning, .warning
  textarea {
    border-color: #f1c000; }
  input[type="text"].success, .success input[type="text"],
  input[type="password"].success, .success
  input[type="password"],
  input[type="date"].success, .success
  input[type="date"],
  input[type="datetime"].success, .success
  input[type="datetime"],
  input[type="email"].success, .success
  input[type="email"],
  input[type="number"].success, .success
  input[type="number"],
  input[type="search"].success, .success
  input[type="search"],
  input[type="tel"].success, .success
  input[type="tel"],
  input[type="time"].success, .success
  input[type="time"],
  input[type="url"].success, .success
  input[type="url"],
  select.success, .success
  select,
  textarea.success, .success
  textarea {
    border-color: #1abc9c; }

textarea {
  height: auto;
  min-height: 100px;
  line-height: 1.4em; }

select {
  -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAIAAAAy3EnLAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYcDSA5NaKHLwAAAQRJREFUGNN9jrGKg0AURW9iMelSOX6AEMg3TO8PGJCA+HEiiBAJ04n/IkKKAWeqFIHMCL4tZnF3XXZv9bicw30gonEcrbX0b6y14zgS0V4p1XWdlNI5hz/inJNSdl2nlArO5/M8z6/X6/F4nE6nIAh+0/f73Rjjf9kLIZZlWZZFa9227WbHOde2rdbaM0KIHRENw9D3vbUWQBiGl8uFMQbAWnu73YwxABhjSZLEcbwjIgDGmKZpvMMYy7IMwKYJwxDApwBAa13X9Ur4BX9fr1fOuce+BADP59N/vDac8zRNj8fj2vwQALzf76qqpmkCEEVRnueHw+E7sBW8U5YlgKIoNjSAD706zRArYH/gAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: right 10px center; } }
label {
  display: block;
  margin-bottom: 0.5em;
  height: 1.5;
  line-height: 1.5em; }
  label.error, .error label {
    color: #e74c3c; }
  label.warning, .warning label {
    color: #f1c000; }
  label.success, .success label {
    color: #1abc9c; }

input[type="checkbox"],
input[type="radio"] {
  font-size: 1em;
  height: 1em;
  width: 1em; }

::-webkit-input-placeholder {
  color: #95a5a6; }

:-moz-placeholder {
  color: #95a5a6; }

::-moz-placeholder {
  color: #95a5a6; }

:-ms-input-placeholder {
  color: #95a5a6; }

[type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield; }

.form .checkboxGroup, .form .radioGroup {
  margin-bottom: 1em; }
.form.formHorizontal label {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  font-size: 1em;
  vertical-align: top; }
.form.formHorizontal .checkboxGroup, .form.formHorizontal .radioGroup {
  display: inline-block;
  width: 300px; }
  .form.formHorizontal .checkboxGroup label, .form.formHorizontal .radioGroup label {
    display: block; }

table {
  max-width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: left; }

.table {
  width: 100%;
  margin-bottom: 1em; }
  .table th,
  .table td {
    padding: 8px;
    line-height: 1.4em;
    vertical-align: top;
    border-top: 1px solid #dae0e4; }
  .table thead th {
    vertical-align: bottom;
    font-weight: 500; }
  .table caption + thead tr:first-child th,
  .table caption + thead tr:first-child td,
  .table colgroup + thead tr:first-child th,
  .table colgroup + thead tr:first-child td,
  .table thead:first-child tr:first-child th,
  .table thead:first-child tr:first-child td {
    border-top: 0; }
  .table tbody + tbody {
    border-top: 2px solid #dae0e4; }
  .table .table {
    background-color: #f5f7f8; }

.tableCondensed th, .tableCondensed td {
  padding: 4px 5px; }

.tableBordered {
  border: 1px solid #dae0e4;
  border-collapse: separate;
  border-left: 0;
  border-radius: 3px; }
  .tableBordered th,
  .tableBordered td {
    border-left: 1px solid #dae0e4; }
  .tableBordered caption + thead tr:first-child th,
  .tableBordered caption + tbody tr:first-child th,
  .tableBordered caption + tbody tr:first-child td,
  .tableBordered colgroup + thead tr:first-child th,
  .tableBordered colgroup + tbody tr:first-child th,
  .tableBordered colgroup + tbody tr:first-child td,
  .tableBordered thead:first-child tr:first-child th,
  .tableBordered tbody:first-child tr:first-child th,
  .tableBordered tbody:first-child tr:first-child td {
    border-top: 0; }
  .tableBordered thead:first-child tr:first-child > th:first-child,
  .tableBordered tbody:first-child tr:first-child > td:first-child,
  .tableBordered tbody:first-child tr:first-child > th:first-child {
    border-top-left-radius: 3px; }
  .tableBordered thead:first-child tr:first-child > th:last-child,
  .tableBordered tbody:first-child tr:first-child > td:last-child,
  .tableBordered tbody:first-child tr:first-child > th:last-child {
    border-top-right-radius: 3px; }
  .tableBordered thead:last-child tr:last-child > th:first-child,
  .tableBordered tbody:last-child tr:last-child > td:first-child,
  .tableBordered tbody:last-child tr:last-child > th:first-child,
  .tableBordered tfoot:last-child tr:last-child > td:first-child,
  .tableBordered tfoot:last-child tr:last-child > th:first-child {
    border-bottom-left-radius: 3px; }
  .tableBordered thead:last-child tr:last-child > th:last-child,
  .tableBordered tbody:last-child tr:last-child > td:last-child,
  .tableBordered tbody:last-child tr:last-child > th:last-child,
  .tableBordered tfoot:last-child tr:last-child > td:last-child,
  .tableBordered tfoot:last-child tr:last-child > th:last-child {
    border-bottom-right-radius: 3px; }
  .tableBordered tfoot + tbody:last-child tr:last-child td:first-child {
    border-bottom-left-radius: 0; }
  .tableBordered tfoot + tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 0; }
  .tableBordered caption + thead tr:first-child th:first-child,
  .tableBordered caption + tbody tr:first-child td:first-child,
  .tableBordered colgroup + thead tr:first-child th:first-child,
  .tableBordered colgroup + tbody tr:first-child td:first-child {
    border-top-left-radius: 3px; }
  .tableBordered caption + thead tr:first-child th:last-child,
  .tableBordered caption + tbody tr:first-child td:last-child,
  .tableBordered colgroup + thead tr:first-child th:last-child,
  .tableBordered colgroup + tbody tr:first-child td:last-child {
    border-top-right-radius: 3px; }

.tableStriped tbody > tr:nth-child(odd) > td,
.tableStriped tbody > tr:nth-child(odd) > th {
  background-color: #f5f7f8; }

.tableHover tbody tr:hover > td,
.tableHover tbody tr:hover > th {
  background-color: #dae0e4;
  color: #1f2c2d; }

.padding0 {
  padding: 0; }

.padding10 {
  padding: 10px; }

.padding20 {
  padding: 20px; }

.padding30 {
  padding: 50px; }

.padding40 {
  padding: 40px; }

.padding50 {
  padding: 50px; }

.margin0 {
  margin: 0; }

.margin10 {
  margin: 10px; }

.margin20 {
  margin: 20px; }

.margin30 {
  margin: 50px; }

.margin40 {
  margin: 40px; }

.margin50 {
  margin: 50px; }

.marginBottom1em {
  margin-bottom: 1em; }

.marginBottom05em {
  margin-bottom: 0.5em; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.textCenter {
  text-align: center; }

.textLeft {
  text-align: left; }

.textRight {
  text-align: right; }

.displayBlock {
  display: block; }

.displayInlineBlock {
  display: inline-block; }

.displayInline {
  display: inline; }

.dummy [class^="span"] > div {
  min-height: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden; }
.dummy .c1 {
  background: #4499dd;
  color: #f5f7f8; }
.dummy .c2 {
  background: #ecf0f1; }

.container {
  background: white; }

@media screen and (min-width: 768px) {
  .dummyNavigation {
    position: fixed; } }
