body {
  padding: 40px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

main > * + * {
  margin-top: 1em;
}

.grid > div {
  background: var(--main-50);
  padding-block: 10px;
  border: 1px solid var(--main-100);
}

.grid .grid > div {
  background: var(--main-100);
  border: 1px solid var(--main-200);
}

.buttons div + div {
  margin-top: 1rem;
}

#dialog-1 {
  border-radius: 1.6rem;
  max-width: 80%;
  width: 600px;

  > div {
    min-height: 30vh;
    position: relative;
  }

  .icon-btn-shadow {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
  }
}
