.dummy{
	.row{
		//background: #fff;
	}

	.col > div,
	.cell > div{
		min-height: 60px;
		line-height: 60px;
		text-align: center;
		overflow: hidden;
		border-radius: $border-radius;

		background: $main-color; color: $gray1;
		margin: 0.5em 0;

		&.c1{ background: $main-color; color: $gray1; }
		&.c2{ background: $light-color; }
	}

}


.white{ background: white; }

#iconic{
	span{
		vertical-align: middle;
		font-size: 20px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		&:hover{
			@extend .color-main;
			font-size: 40px;
		}
	}
}

@media screen and (min-width: 768px) {
	.dummy-navigation{
		position: fixed;
	}
}