.dummy{
	.row{
		//background: #fff;
	}

	[class^="span"] > div{
		min-height: 40px;
		line-height: 40px;
		text-align: center;
		overflow: hidden;
	}

	.c1{ background: $mainColor; color: $gray1; }
	.c2{ background: $lightColor; }
}


.container{ background: white; }

@media screen and (min-width: 768px) {
	.dummyNavigation{
		position: fixed;
	}
}