input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea
{
	@include box-sizing(border-box);
	height: 2.625em;
	width: $inputWidth;
	max-width: 100%;
	padding: 0.5em;
	margin-bottom: 1em;
	font-family: $fontFamily;
	font-weight: $fontWeight;
	color: $gray5;
	font-size: 1em;
	border: 2px solid $gray2;
	border-radius: $borderRadius;
	transition: border-color, color 0.3s;


	&:focus{
		border: 2px solid $mainColor;
		color: $gray7;
		outline: none;
	}



	&.error, .error &{
		border-color: $errorColor;
	}
	&.warning, .warning &{
		border-color: $warningColor;
	}
	&.success, .success &{
		border-color: $successColor;
	}
}

textarea{
	height: auto;
	min-height: 100px;
	line-height: $lineHeight;
}
select{
	-webkit-appearance: none;
}

// Hack for webkit only
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select{
		//background-image: url(../img/select-webkit.png);
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAKCAYAAACqnE5VAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYeBwwgz2YJHAAAASVJREFUOMud0jFqwzAUBuD/6QLqDXqE+Abx4MGDIR5CCBpEsUFzjtTRhAwqeMiQQUdIj9AbJPt7Vhe1OKShdv5FvCf0PngIAOCcWznnNCbGOaedcyvMiGrbdikiXkRC0zT/Yk3TaBEJIuLbtl1OhpjZMzOYORORYK19iFlrtYgEZs7SGz8ZEpFdeoQ0IBhj7jBjjGbmMQIR2U2FCAC22+0qxvgO4CX1zzHGfL/fXwFgs9loIgoAsnR/IaK3rus+ZkEAsF6vFzHGMMIuwzDkAKCUuukTUX44HD7nfAYaF3VdL4ZhuBmazt9aKZV772chdxAAVFX1GmP0ozX95ExEdd/3X3gi9FezLEud1piNkPx4PF7xZOjRRVEUOq0RSqn8dDo9jQDAN6OnnUe+41wgAAAAAElFTkSuQmCC');
		background-repeat: no-repeat;
		background-position: right center;
	}
}

label{
	display: block;
	margin-bottom: 0.5em;
	height: 1.5;
	line-height: 1.5em;

	&.error, .error &{
		color: $errorColor;
	}
	&.warning, .warning &{
		color: $warningColor;
	}
	&.success, .success &{
		color: $successColor;
	}
}

input[type="checkbox"],
input[type="radio"]{
	font-size: 1em;
	height: 1em;
	width: 1em;
}


@include placeholder($gray3);

.form{
	.checkboxGroup, .radioGroup{
		margin-bottom: 1em;
	}
	&.formHorizontal{
		label{
			display: inline-block;
			width: 200px;
			max-width: 100%;
			font-size: 1em;
			vertical-align: top;
		}

		.checkboxGroup, .radioGroup{
			display: inline-block;
			width: $inputWidth;
			label{
				display: block;
			}
		}
	}
}