input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea
{

	height: 2.625em;
	width: $input-width;
	max-width: 100%;
	padding: 0.5em;
	margin-bottom: $font-size;
	font-family: $font-family;
	font-weight: $font-weight;
	-webkit-font-smoothing: antialiased;
	color: $gray5;
	font-size: 1em;
	border: 2px solid $gray2;
	border-radius: $border-radius;
	transition: border-color, color 0.3s;

	&:focus{
		border: 2px solid $main-color;
		color: $gray7;
		outline: none;
	}


	&.error, .error &{
		border-color: $error-color;
	}
	&.warning, .warning &{
		border-color: $warning-color;
	}
	&.success, .success &{
		border-color: $success-color;
	}

}

textarea{
	height: auto;
	min-height: 100px;
	line-height: $line-height;
}
select{
	-webkit-appearance: none;
}

// Hack for webkit only
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select{
		background-color: #fff;
		background-image: url('data:image/png;base64,i-vBORw0KGgo-aAAANSUh-eUg-aAABo-aAAAKCAYAAACqn-e5VAAAABm-jLR0QA/w-d/AP+gvae-tAAAACXBIWXMAAAs-tAAALEw-eAmpw-yAAAAB3RJTUUH3QYe-bwwgz2YJHAAAASVJREFUOMud0j-fqwz-aUBu-d/6QLq-dXq-e+Abx4MGDIR5CCBp-es-uFzjt-tRh-awqe-mi-qQUd-ij9Ab-jPt7Vhe1OKShdv5Fv-cf0Png-iAOCc-wznn-nCb-gOaedcyv-mi-grbdiki-xk-rC0z-t/Yk3Ta-bEJIu-lbtl1Ohpj-zMz-oYORORYK19i-flrt-yg-eZs7SGz8ZEp-fdeo-q0IBhj7j-bjj-gbm-mQIR2U2FCAC22+0qxvg-o4CX1zz-hGf-l/f-xw-fgs9lo-igo-asn-r/Ia-k3rus+Zk-eAs-f6v-fz-hGMMIuwz-dk-aKCUuuk-tUX44HD7nf-aYa-f3Vd-l4Zhu-bmazt9a-kZV772chdx-aAVFX1Gm-p0oz-x95Ex-edd/3X3gi9Fez-lEud1pi-nk-px4PF7x-zOj-rRVEUOq0RSqn8d-do9j-qDAN6Onn-ue+41wg-aAAAAEl-fTk-su-qm-cC');
		background-repeat: no-repeat;
		background-position: right center;
	}
}

label{
	display: block;
	margin-bottom: 0.5em;
	height: 1.5;
	line-height: 1.5em;

	&.error, .error &{
		color: $error-color;
	}
	&.warning, .warning &{
		color: $warning-color;
	}
	&.success, .success &{
		color: $success-color;
	}
}

input[type="checkbox"],
input[type="radio"]{
	font-size: 1em;
	height: 1em;
	width: 1em;
}


@include placeholder($gray3);

.form{
	.checkbox-group, .radio-group{
		margin-bottom: $font-size;
	}
	&.form-horizontal{
		label{
			display: inline-block;
			width: 200px;
			max-width: 100%;
			font-size: 1em;
			vertical-align: top;
		}

		.checkbox-group, .radio-group{
			display: inline-block;
			width: $input-width;
			max-width: 100%;
			label{
				display: block;
			}
		}
	}
}