// GRID

.container {
	margin-right: auto;
	margin-left: auto;
	@include clearfix;

	padding-left:  $grid-padding-width / 2;
	padding-right: $grid-padding-width / 2;
}

.row {
	@include clearfix;
	margin-left: $grid-padding-width / -2;
	margin-right: $grid-padding-width / -2;
}

.col {
	min-height: 1px;
	position: relative;
	padding-left:  $grid-padding-width / 2;
	padding-right: $grid-padding-width / 2;

	.float-right {
		float: right;
	}
}

@for $i from 1 through $grid-columns {
	.sm-#{$i}{ width: $i*$grid-unit-width; float: left; }
	.offset-sm-#{$i}{ margin-left: $i*$grid-unit-width; }
}



// Responsive: Tablets and up
@media screen and (min-width: $tablet-breakpoint) {
	.container {
		max-width: $container-width-tablet;
	}

	@for $i from 1 through $grid-columns {
		.md-#{$i}{ width: $i*$grid-unit-width; float: left; }
		.offset-md-#{$i}{ margin-left: $i*$grid-unit-width; }
	}
}

// Responsive: Desktops and up
@media screen and (min-width: $desktop-breakpoint) {
	.container {
		max-width: $container-width-desktop;
	}

	@for $i from 1 through $grid-columns {
		.lg-#{$i}{ width: $i*$grid-unit-width; float: left; }
		.offset-lg-#{$i}{ margin-left: $i*$grid-unit-width; }
	}
}

// Responsive: Large desktops and up
@media screen and (min-width: $large-desktop-breakpoint) {
	.container {
		max-width: $container-width-large-desktop;
	}
}


// @mixin col-md-stuff(){
// 	padding-left:  $grid-padding-width / 2;
// 	padding-right: $grid-padding-width / 2;
// 	float: left;
// }

// // ^= selectors are slow
// #{$grid-col-md-classes}, #{$grid-col-sm-classes} {
// 	position: relative;
// 	min-height: 1px;
//

// 	.float-right {
// 		float: right;
// 	}
// }


// // // Mobile grid
// .row-mobile{
// 	margin-left:  $grid-padding-width / -2;
// 	margin-right: $grid-padding-width / -2;
// }

// #{$grid-col-sm-classes} {
// 	@include col-md-stuff();
// }

// @for $i from 1 through $grid-columns {
// 	.col-sm#{$i}{ width: $i*$grid-unit-width; }
// 	.offset-mobile#{$i}{ margin-left: $i*$grid-unit-width; }
// }


// // Responsive: Tablets and up
// @media screen and (min-width: 768px) {
// 	.container {
// 		max-width: 700px;
// 	}


// 	// Float columns
// 	#{$grid-col-md-classes} {
// 		@include col-md-stuff();
// 	}

// 	.row {
// 		// Negative margin the row out to align the content of columns
// 		margin-left:  $grid-padding-width / -2;
// 		margin-right: $grid-padding-width / -2;
// 	}

// 	@for $i from 1 through $grid-columns {
//   		.col-md-#{$i}{ width: $i*$grid-unit-width; }
//   		.offset#{$i}{ margin-left: $i*$grid-unit-width; }
// 	}
// }

// // Responsive: Desktops and up
// @media screen and (min-width: 992px) {
// 	.container {
// 		max-width: 920px;
// 	}
// }

// // Responsive: Large desktops and up
// @media screen and (min-width: 1200px) {
// 	.container {
// 		// max-width: 1120px;
// 	}
// }

