// Paddings
.padding10{ padding: 10px; }
.padding20{ padding: 20px; }
.padding30{ padding: 50px; }
.padding40{ padding: 40px; }
.padding50{ padding: 50px; }


// Margins
.margin10{ margin: 10px; }
.margin20{ margin: 20px; }
.margin30{ margin: 50px; }
.margin40{ margin: 40px; }
.margin50{ margin: 50px; }

.marginBottom1em{ margin-bottom: 1em; }
.marginBottom05em{ margin-bottom: 0.5em; }


// Floats
.floatLeft{ float: left; }
.floatRight{ float: right; }


// Text
.textCenter{ text-align: center; }
.textLeft{ text-align: left; }
.textRight{ text-align: right; }


// Display
.displayBlock{ display: block; }
.displayInlineBlock{ display: inline-block; }
.displayInline{ display: inline; }