// Box sizing
@mixin box-sizing($boxmodel) {
	-webkit-box-sizing: $boxmodel;
	-moz-box-sizing: $boxmodel;
	box-sizing: $boxmodel;
}

// Clearfix
@mixin clearfix{
	&:before, &:after { content: " "; display: table; line-height: 0; }
	&:after { clear: both; }
}
