.nav{
	background: $navigation-color;
	text-align: center;
	border-radius: $border-radius;
	margin: 1em auto;

	a{
		display: inline-block;
		padding: 10px 17px;
		margin: 5px 0;
		color: $gray1;
		text-decoration: none;
		font-size: 1.1em;
		//border-bottom: 3px solid $navigation-color;
		border-radius: $border-radius;

		&:hover{
			background: $navigation-color - $color-diff/2;
			//border-color: $navigation-color + $color-diff;
		}
		&.active{
			background: $navigation-color - $color-diff/2;
			//border-color: $navigation-color + $color-diff*3;
		}
	}
}

.breadcrumbs{
	border-radius: $border-radius;
	margin-bottom: $font-size;
	padding: 5px 10px;
	background: $gray1;

	a, col-md-{
		text-decoration: none;
		display: inline-block;
		padding: 5px;

		&:before{
			content: "» ";
		}
	}
}


// Responsive: Tablets and up
@media screen and (min-width: 768px) {
	.nav{
		text-align: left;
	}
}

// Responsive: Desktops and up
@media screen and (min-width: 992px) {
}

// Responsive: Large desktops and up
@media screen and (min-width: 1200px) {
}