h1,h2,h3,h4,h5,h6{
	line-height: 1.2em;
	margin-bottom: 0.3em;
}

h1{
	font-size: 2.5em;
}

h2{
	font-size: 2.2em;
}

h3{
	font-size: 1.8em;
}

h4{
	font-size: 1.5em;
}

h5{
	font-size: 1.3em;
}

h6{
	font-size: 1.1em;
}




p{
	margin-bottom: 1em;
}