// Grays
$grayDarker:			#222;
$grayDark:				#333;
$gray:					#555;
$grayLight:				#999;
$grayLighter:			#ddd;
$grayReallyLight:		#f8f8f8;


// Colors
$bodyBackground:		#eee;
$textColor:				$gray;

// Buttons
$mainColor:				#49d;
$buttonColor:			$mainColor;

// Defaults
$fontFamily:			"Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSize:				15px;
$fontWeight:			200;
$lineHeight:			1.4em;


// Code
$preFontFamily:			"DejaVu Sans Mono", Monaco, Menlo, Consolas, "Courier New", monospace;
$preFontSize:			13px;


// Tables
$tableBorderColor:		$grayLighter;
$tableBackground:		$grayReallyLight;
$tableBackgroundHover:	$mainColor + #111;
$tableColorHover:		#fff;

// Grid
$gridColumns:			12;
$gridPaddingWidth:		30px;
$gridUnitWidth:			100% / $gridColumns;


$containerWidthTablet:	720px;
$containerWidthDesktop:	940px;
$containerWidthBigDesktop:	1150px;



// Helpers
$colorDiff:				#333;
$borderRadius:			3px;