label:has(input[type='radio']) {
  display: flex;
  gap: 1rem;
}

input[type='radio'] {
  appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--gray-400);
  border: 1px solid var(--gray-400);
  border-radius: 10rem;
}

input[type='radio']:checked {
  color: var(--main-600);
  border-color: currentColor;
  background-color: currentColor;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='4' cx='8' cy='8' /%3e%3c/svg%3e");
}

input[type='radio']:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 3px;
}

label:hover input[type='radio']:not(:checked) {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='lightgray' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='4' cx='8' cy='8' /%3e%3c/svg%3e");
}

label:hover input[type='radio']:checked {
  border-color: var(--main-700);
  background-color: var(--main-700);
}
