$breakpoint-sm: 400px;
$breakpoint-md: 600px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1100px;
// $breakpoint-xxl: 1600px;
// $breakpoint-xxxl: 2000px;

@mixin sm {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}
