// Colors

:root,
.gray {
  --black: black;
  --white: white;

  --gray-50: #eff1f4;
  --gray-100: #dee3ea;
  --gray-200: #bec7d5;
  --gray-300: #9eacc2;
  --gray-400: #8292a9;
  --gray-500: #6b788b;
  --gray-600: #545f6f;
  --gray-700: #3f4753;
  --gray-800: #2a313a;
  --gray-900: #181c22;
  --gray-950: #0e1116;

  --main-50: #eff1f4;
  --main-100: #dee3ea;
  --main-200: #bec7d5;
  --main-300: #9eacc2;
  --main-400: #8292a9;
  --main-500: #6b788b;
  --main-600: #545f6f;
  --main-700: #3f4753;
  --main-800: #2a313a;
  --main-900: #181c22;
  --main-950: #0e1116;
}

.blue {
  --main-50: #eef0fe;
  --main-100: #dde1fd;
  --main-200: #b9c4fb;
  --main-300: #95a7f9;
  --main-400: #6d8af7;
  --main-500: #396df4;
  --main-600: #1f55cd;
  --main-700: #15409d;
  --main-800: #0c2b70;
  --main-900: #041846;
  --main-950: #020e30;
}

.red {
  --main-50: #fdeded;
  --main-100: #fcdbdb;
  --main-200: #f9b5b5;
  --main-300: #f78d8d;
  --main-400: #f55d5d;
  --main-500: #e52828;
  --main-600: #b81e1e;
  --main-700: #8d1414;
  --main-800: #640b0b;
  --main-900: #3e0404;
  --main-950: #2b0202;
}

.purple {
  --main-50: #f4eefe;
  --main-100: #e9ddfd;
  --main-200: #d5bbfc;
  --main-300: #c397fa;
  --main-400: #b271f8;
  --main-500: #a343f6;
  --main-600: #8a1cd8;
  --main-700: #6913a6;
  --main-800: #4a0a77;
  --main-900: #2c044a;
  --main-950: #1d0234;
}

.green {
  --main-50: #e2fdef;
  --main-100: #b7f6d6;
  --main-200: #67e9b1;
  --main-300: #11c388;
  --main-400: #0da572;
  --main-500: #09885e;
  --main-600: #056c4a;
  --main-700: #035137;
  --main-800: #013824;
  --main-900: #012114;
  --main-950: #00150b;
}
