$inputs:
	'input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	select,
	textarea';


#{$inputs} {
	&.form-control{
		height: 2.625em;
		width: 100%;
		max-width: 100%;
		padding: 0.5em;
		margin-bottom: $font-size;
		font-family: $font-family;
		font-weight: $font-weight;
		color: $gray5;
		font-size: 1em;
		border: 2px solid $gray2;
		border-radius: $border-radius;

		-webkit-font-smoothing: antialiased;
		-webkit-appearance: none;

		transition: border-color $transition-time, color $transition-time;

		&:focus{
			border: 2px solid $main-color;
			color: $gray7;
			outline: none;
		}


		&.error, .error &{
			border-color: $error-color;
		}
		&.warning, .warning &{
			border-color: $warning-color;
		}
		&.success, .success &{
			border-color: $success-color;
		}
	}
}

textarea{
	height: auto;
	min-height: 100px;
	line-height: $line-height;
}
select{
	-webkit-appearance: none;
}

// Hack for webkit only
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	select{
		background-color: #fff;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAKCAYAAACqnE5VAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYeBwwgz2YJHAAAASVJREFUOMud0jFqwzAUBuD/6QLqDXqE+Abx4MGDIR5CCBpEsUFzjtTRhAwqeMiQQUdIj9AbJPt7Vhe1OKShdv5FvCf0PngIAOCcWznnNCbGOaedcyvMiGrbdikiXkRC0zT/Yk3TaBEJIuLbtl1OhpjZMzOYORORYK19iFlrtYgEZs7SGz8ZEpFdeoQ0IBhj7jBjjGbmMQIR2U2FCAC22+0qxvgO4CX1zzHGfL/fXwFgs9loIgoAsnR/IaK3rus+ZkEAsF6vFzHGMMIuwzDkAKCUuukTUX44HD7nfAYaF3VdL4ZhuBmazt9aKZV772chdxAAVFX1GmP0ozX95ExEdd/3X3gi9FezLEud1piNkPx4PF7xZOjRRVEUOq0RSqn8dDo9jQDAN6OnnUe+41wgAAAAAElFTkSuQmCC);
		background-repeat: no-repeat;
		background-position: right center;
	}
}

label{
	display: block;
	margin-bottom: 0.5em;
	height: 1.5em;
	line-height: 1.5em;

	&.error, .error &{
		color: $error-color;
	}
	&.warning, .warning &{
		color: $warning-color;
	}
	&.success, .success &{
		color: $success-color;
	}
}

input[type="checkbox"],
input[type="radio"]{
	font-size: 1em;
	height: 1em;
	width: 1em;
}


@include placeholder($gray3);

.form{
	.checkbox-group, .radio-group{
		margin-bottom: $font-size;
	}
	&.form-horizontal{
		label{
			display: inline-block;
			width: 200px;
			max-width: 100%;
			font-size: 1em;
			vertical-align: top;
		}

		.checkbox-group, .radio-group{
			display: inline-block;
			width: 200px;
			max-width: 100%;
			label{
				display: block;
			}
		}
	}
}
