body{
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	background-color: $body-background;
	color: $text-color;

}

img{ max-width: 100%; }

.noscroll {
	overflow: hidden;
}
