// Box sizing
@mixin box-sizing($boxmodel) {
	-webkit-box-sizing: $boxmodel;
	-moz-box-sizing: $boxmodel;
	box-sizing: $boxmodel;
}

// Clearfix
@mixin clearfix{
	&:before, &:after { content: " "; display: table; line-height: 0; }
	&:after { clear: both; }
}


// Placeholder
@mixin placeholder($color){
	// Web-kit
	::-webkit-input-placeholder {
	    color:    $color;
	}
	// FF4-18
	:-moz-placeholder {
	    color:    $color;
	}
	// FF19+
	::-moz-placeholder {
	    color:    $color;
	}
	// IE10
	:-ms-input-placeholder {
	    color:    $color;
	}
	// Fix for input type search
	[type="search"] {
	    -moz-appearance:    textfield;
	    -webkit-appearance: textfield;
	    appearance: textfield;
	}
}

@mixin select(){
	background-color: #fff;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAKCAYAAACqnE5VAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYeBwwgz2YJHAAAASVJREFUOMud0jFqwzAUBuD/6QLqDXqE+Abx4MGDIR5CCBpEsUFzjtTRhAwqeMiQQUdIj9AbJPt7Vhe1OKShdv5FvCf0PngIAOCcWznnNCbGOaedcyvMiGrbdikiXkRC0zT/Yk3TaBEJIuLbtl1OhpjZMzOYORORYK19iFlrtYgEZs7SGz8ZEpFdeoQ0IBhj7jBjjGbmMQIR2U2FCAC22+0qxvgO4CX1zzHGfL/fXwFgs9loIgoAsnR/IaK3rus+ZkEAsF6vFzHGMMIuwzDkAKCUuukTUX44HD7nfAYaF3VdL4ZhuBmazt9aKZV772chdxAAVFX1GmP0ozX95ExEdd/3X3gi9FezLEud1piNkPx4PF7xZOjRRVEUOq0RSqn8dDo9jQDAN6OnnUe+41wgAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: right center;
}