// Tables
table {
    max-width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: left;
}


// BASELINE STYLES
.table {
    width: 100%;
    margin-bottom: 1em;

    // Cells
    th,
    td {
        padding: 8px;
        line-height: $line-height;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
    }
    // Bottom align for column headings
    thead th {
        vertical-align: bottom;
        font-weight: $bold;
    }
    // Remove top border from thead by default
    caption + thead tr:first-child th,
    caption + thead tr:first-child td,
    colgroup + thead tr:first-child th,
    colgroup + thead tr:first-child td,
    thead:first-child tr:first-child th,
    thead:first-child tr:first-child td {
        border-top: 0;
    }
    // Account for multiple tbody instances
    tbody + tbody {
        border-top: 2px solid $table-border-color;
    }

    // Nesting
    .table {
        background-color: $body-background;
    }
}



// CONDENSED TABLE W/ HALF PADDING
.table-condensed {
    th, td {
        padding: 4px 5px;
    }
}


// BORDERED VERSION
.table-bordered {
    border: 1px solid $table-border-color;
    border-collapse: separate; // Done so we can round those corners!
    border-left: 0;
    border-radius: $border-radius;
    th,
    td {
        border-left: 1px solid $table-border-color;
    }
    // Prevent a double border
    caption + thead tr:first-child th,
    caption + tbody tr:first-child th,
    caption + tbody tr:first-child td,
    colgroup + thead tr:first-child th,
    colgroup + tbody tr:first-child th,
    colgroup + tbody tr:first-child td,
    thead:first-child tr:first-child th,
    tbody:first-child tr:first-child th,
    tbody:first-child tr:first-child td {
        border-top: 0;
    }
    // For first th/td in the first row in the first thead or tbody
    thead:first-child tr:first-child > th:first-child,
    tbody:first-child tr:first-child > td:first-child,
    tbody:first-child tr:first-child > th:first-child {
        border-top-left-radius: $border-radius;
    }
    // For last th/td in the first row in the first thead or tbody
    thead:first-child tr:first-child > th:last-child,
    tbody:first-child tr:first-child > td:last-child,
    tbody:first-child tr:first-child > th:last-child {
        border-top-right-radius: $border-radius;
    }
    // For first th/td (can be either) in the last row in the last thead, tbody, and tfoot
    thead:last-child tr:last-child > th:first-child,
    tbody:last-child tr:last-child > td:first-child,
    tbody:last-child tr:last-child > th:first-child,
    tfoot:last-child tr:last-child > td:first-child,
    tfoot:last-child tr:last-child > th:first-child {
        border-bottom-left-radius: $border-radius;
    }
    // For last th/td (can be either) in the last row in the last thead, tbody, and tfoot
    thead:last-child tr:last-child > th:last-child,
    tbody:last-child tr:last-child > td:last-child,
    tbody:last-child tr:last-child > th:last-child,
    tfoot:last-child tr:last-child > td:last-child,
    tfoot:last-child tr:last-child > th:last-child {
        border-bottom-right-radius: $border-radius;
    }

    // Clear border-radius for first and last td in the last row in the last tbody for table with tfoot
    tfoot + tbody:last-child tr:last-child td:first-child {
        border-bottom-left-radius: 0;
    }
    tfoot + tbody:last-child tr:last-child td:last-child {
        border-bottom-right-radius: 0;
    }

    // Special fixes to round the left border on the first td/th
    caption + thead tr:first-child th:first-child,
    caption + tbody tr:first-child td:first-child,
    colgroup + thead tr:first-child th:first-child,
    colgroup + tbody tr:first-child td:first-child {
        border-top-left-radius: $border-radius;
    }
    caption + thead tr:first-child th:last-child,
    caption + tbody tr:first-child td:last-child,
    colgroup + thead tr:first-child th:last-child,
    colgroup + tbody tr:first-child td:last-child {
        border-top-right-radius: $border-radius;
    }

}



// ZEBRA-STRIPING
// -------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
    tr:nth-child(odd) > td {
        background-color: $table-background;
    }
}



// HOVER EFFECT
// ------
// Placed here since it has to come after the potential zebra striping
.table-hover {
    tr:hover > td{
        background-color: $table-background-hover;
        border-left-color: $table-background-hover;
        color: $table-color-hover;
        &:first-child{
            border-left: 1px solid $table-border-color;
        }
    }
}

// Mobile
@media screen and (max-width: 767px) {
    .table{
        // display: block;
        // max-width: 100%;
        // overflow-x: scroll;
    }
}



